.nav_bar {
  margin: 10px;
}

.nav_bar ul{
  display: flex;
}

.nav_bar li {
  width: 50%;
}

.nav_bar svg {
  height: 50px;
  padding: 2px;
}

.nav_bar li:last-child {
  display: flex;
  justify-content: flex-end;
}

.nav_bar li:last-child svg {
  height: 36px;
  padding-top: 8px;
}

.nav_bar svg {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 5s linear forwards;
  animation-delay: 6s;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
