.mobile_nav_menu_nav_component {
  background-color: rgba(75, 74, 74, 0.8);
  width: 55%;
  padding: 10px;
}

.mobile_nav_menu_nav_component ul {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding: 30% 20%;
  height: 80%;
}

.mobile_nav_menu_nav_component li {
  font-size: 40px;
  text-align: center;
  display: flex;
  justify-content: center;
}