.mobile_nav_menu_nav_component {
  position: fixed;
  background-color: rgb(17, 34, 64, .9);
  z-index: 12;
  top: 0;
  width: 75%;
  right: -75%;
  height: 100%;
}

.mobile_nav_menu_nav_component ul {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding: 30% 20%;
  height: 80%;
}

.mobile_nav_menu_nav_component li {
  font-size: 40px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.display_mobile_nav_menu {
  transform: translateX(-100%);
  transition-timing-function: ease-in;
  transition: 2s;
}

.hide_mobile_nav_menu {
  transform: translateX(100%);
  transition-timing-function: ease-out;
  transition: 2s;
}
